<mat-card class="table">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col-2">วัน/เวลา</th>
        <th scope="col-2">8.00-9.00</th>
        <th scope="col-2">9.00-10.00</th>
        <th scope="col-2">10.00-11.00</th>
        <th scope="col-1">11.00-12.00</th>
        <th scope="col-1">12.00-13.00</th>
        <th scope="col-2">13.00-14.00</th>
        <th scope="col-1">14.00-15.00</th>
        <th scope="col-2">15.00-16.00</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">จันทร์</th>

        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>

        <th scope="row">อังคาร</th>

        <td class="table-primary text-center" colspan="2">ComputerProgram 1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">พุธ</th>

        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">พฤหัส</th>

        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="table-primary text-center" colspan="3">ComputerProgram 1</td>
      </tr>
      <tr>
        <th scope="row">ศุกร์</th>

        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</mat-card>