.content{
  padding-top: 8%;
  padding-left: 3%;
  padding-right: 4%;
  padding-bottom: 12%;
  text-align: center;
  
}
.back {
  padding-top: 2%;
  padding-left: 63%;
  padding-right: 2%;
  padding-bottom: 0%;
  background: url(../images/SUT_Class-Scheduling3.png);
  text-align: center;
   
}
.text {
  color: rgb(255, 0, 106);
}
.color {
  color: rgba(0, 0, 0, 0.884);
  
}
